.banner{
    position: relative;
    background-color: $color-black-0;
    height: 360px;
    margin-bottom: 35px;
    .banner__top{
        width: 100%;
        height: 8px;
        background: linear-gradient(-45deg,#EC5252 0%,#6E1A52 100%);
    }
    .banner__body{
        width: 100%;
        color: $color-white-0;
        .banner__body-row-1{
            margin: 48px 0 32px 0;
            .col{
                text-align: center;
                i{
                    // font-size: 32px;
                    @include styleText($color-white-0,$fs-5,$fw-bold-1);
                }
            }
        }
        .banner__body-row-2{
            .banner__body-row-2-title{
                @include styleText($color-white-0,$fs-3,$fw-bold-1);
            }
            .banner__body-row-2-icon{
                padding: 0 40px;
                @include styleText($color-white-0,$fs-5,$fw-bold-1);
           }
        }
    }
}
//responsive
.banner{
    .banner__body{
        @include resposive('large'){
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .banner__body-row-1{
            @include resposive('large'){
                display: none;
            }
        }
        .banner__body-row-2{
            .banner__body-row-2-icon{
                @include resposive('large'){
                    display: none;
                }
            }
        }
    }
}