.topCategories{
    .topCategories__body{
        margin-bottom: 40px;
        h2{
            @include styleText($color-black-0,$fs-3,$fw-bold-1);
            margin: 0;
        }
        .topCategories__part{
            margin: 8px 0;
            .topCategories{
                box-shadow: 0 1px 4px 0px $color-black-dark-1, 0 0px 2px 0 $color-black-dark-1;
                transition: all .5s;
                &:hover{
                    box-shadow: 0 5px 4px 1px $color-black-dark, 0 -3px 9px 3px $color-black-dark;
                }
                a{
                    text-decoration: none;
                    color: $color-black-0;
                    .topCategories__btn{
                        display: flex;
                        padding: 15px;
                        span{
                            @include styleText($color-black-0,$fs-4 - 8,$fw-bold-1);
                            padding-right: 16px;
                        }
                        p{
                            @include styleText($color-black-0,$fs-0,$fw-normal);
                            margin-bottom: 0;
                            white-space: nowrap;
                            line-height: 35px;
                        }
                    }
                }
            }
        }
    }
}