.students{
        padding: 16px 0;
        h2{
            @include styleText($color-black-light,$fs-2 - 1,$fw-normal);
        }
        .students__right-card{
            transition: all .5s;
            .students__right-card-img{
                position: relative;
                img{
                    height: 122px;
                }
                .students__right-card-overlay{
                    width: 100%;
                    height: 122px;
                    position: absolute;
                    top:0;
                    background-color: $color-black-dark-2;
                    display: none;
                    transition: all .5s;
                }
            }
            .students__right-prize{
                margin: 0;
                text-align: right;
                @include styleText($color-black-0,$fs-0 + 3,$fw-bold-1);
                span{
                    text-decoration: line-through;
                    @include styleText($color-black-0,$fs-1,$fw-normal);
                }
            }
            &:hover{
                cursor: pointer;
                box-shadow: 0 5px 10px 5px #14171c1a, 0 3px 6px 3px #14171c1a;
                z-index: 100;
            }
            &:hover .students__right-card-overlay{
                display: block;
            }
        }
    
}